/* AULA DESCRITA  no arquivo README.TXT de cada  aula */
@charset "UTF8";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700'); /*FONTES pelo GOOGLE*/

/* formatação BÁSICA DO SITE so corpo do site  */
body {
    background-color: rgba(44 , 62, 80, 1); 
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Bitstream Vera Sans",sans-serif;
    color: rgba(234, 238, 239, 1); 
    margin: 0px;
}
.fonte350 { 
    font-size: 3.5em;
}
.fonte300 { 
    font-size: 3em;    
}
.fonte250 {
    font-size: 2.5em;
}
.cinza { 
    color: rgba(203,204,203,1);
}

.chamada {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9)), url(https://img.youtube.com/vi/GvbzrqD_kno/maxresdefault.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-attachment: fixed; 
    height: 100vh; 
}
.parte_superior { 
    width: 100vw; 
    height: 90px; 
    display: flex;   
    justify-content: space-around;  
    align-items: center; 
    padding-top: 15px;
  }

.area_chamada {
    text-align: center;
    margin-top: 250px;
    
}

.titulo h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.1em; 
    font-weight: 400;
    text-shadow: 3px 3px 0px rgba(0,0,0,.8);
}
h2 {
    margin: 0px;
}
.logo_facebook {
    position: absolute; 
    top: 30px;
    right: 35px;
    display: flex;
    align-items:flex-end 
}
.boas-vindas {
    font-weight: bold; 
    font-size: 80%; 
    margin-right: 5px; 
    text-align: right;     
}
.logo {
    position: absolute;
    left: 14px;
    top: 10px;
}
.logo > img { 
    height: 90px;
}
                                /*  Criando uma nova SECTION CHAMADA DE MINIATURAS */

.miniaturas {
    margin-top: -100px; /*Margem NEGATIVA para subirmos nossa IMG e fazer ele ficar sobre o ELEMENTO anterior*/
    }





.figuras {
    display: flex; /*Adionamos uma flex para fazer todos os elementos ficarem horizontal*/
    flex-wrap: wrap; /*Colocamos o flex-wrap na opção WRAP para fazer a quebra dos elementos quando visto em pagina menores tipo MOBLILE*/
    justify-content: space-between; /*faremos a distribuição dos elementos de forma que  o mesmo fique JUSTIFICADO com a opção SPACE-BETWEEN ao inves de usar center Visto que temos 2 DIVs para alinhar uma FIGURAS e a outra MENU, desta forma ambas ficarão com o BETWEEN.*/
    padding: 5%;  /*Esta PADDIN em % faz com que caso a pagina fique MENOR o espaço entre mas imagens AUTO REGULE-SE*/
    
   

}
 figure {
    margin: 5px;
}

figcaption {
    width: 150px;
    text-align: center;
}

                                 /*  Criando uma nova FOOTER CHAMADA DE RODAPE */

footer#rodape {
    border-top: 1px solid rgba(234, 238, 239, 1);
    margin-top: auto;
    font-size: 8pt;
    text-align: center;
}




