/* AULA DESCRITA  no arquivo README.TXT de cada  aula */
@charset "UTF8";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700'); /*FONTES pelo GOOGLE*/

/* formatação BÁSICA DO SITE so corpo do site  */
body {
    background-color: rgba(44 , 62, 80, 1); 
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Bitstream Vera Sans",sans-serif;
    color: rgba(234, 238, 239, 1); 
    margin: 0px;
}
.fonte350 { 
    font-size: 3.5em;
}
.fonte300 { 
    font-size: 3em;    
}
.fonte250 {
    font-size: 2.5em;
}
.cinza { 
    color: rgba(203,204,203,1);
}

.chamada {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9)), url(https://img.youtube.com/vi/GvbzrqD_kno/maxresdefault.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-attachment: fixed; 
    height: 100vh; 
    display: flex; /*colocamos um display aqui, para configurar o HEADER.area_chamada, fazendo ele flutuar  dentro do nosso SECTION */
    /* justify-content: center; */
    /* align-items: center; */
}

.area_chamada {
    text-align: center;
    margin: auto;
    margin-bottom: 150px;
}

.titulo {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1em; 
    font-weight: 400;
    text-shadow: 3px 3px 0px rgba(0,0,0,.8);
}


h2 {
    margin: 0px;
}
/*CLASS.PARTE_SUPERIOR é a DIV onde colocaremos nosso BANNER com os ELEMENTOS LOGO/BANNER/direito */
.parte_superior { 
    width: 100vw; /*usaremos 100% do nosso VW ou ratewiew e nosso BANNER terá 720px */
    height: 90px; /*a altura será a mesma do BANNER*/
    display: flex; /*distribuiiremos nosso ELEMENTOS*/
   /* justify-content: center; Justificaremos o conteudo da nossa DIV centralizada na LARGURA */
    align-items: center; /*Alinharemos o conteudo da nossa DIV centralizada na ALTURA no centro da DIV */   
    justify-content: space-around; /*Com o justify-content: space-around; espalharemos o conteudo dentro elemento PAI */
/* definimos o BANNER com 728px largura e 90 px de altura.*/
    margin-top: 15px; /*esta Margin aqui, faz com que todos elementos FILHOS fiquem com 15PX afastado da tela. */
}
.logo > img { /* "> MAIOR" que dizer "TUDO que tiver dentro ou pertencer" ao IMG */
    width: 250px;

}
.logo_facebook {
    
}


footer#rodape {
    border-top: 1px solid rgba(234, 238, 239, 1);
    margin-top: auto;
    font-size: 8pt;
    text-align: center;
}




