/* AULA DESCRITA  no arquivo README.TXT de cada  aula */
@charset "UTF8";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700'); /*FONTES pelo GOOGLE*/

/* formatação BÁSICA DO SITE so corpo do site  */
body {
    background-color: rgba(44 , 62, 80, 1); 
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Bitstream Vera Sans",sans-serif;
    color: rgba(234, 238, 239, 1); 
    margin: 0px;
}
.fonte350 { 
    font-size: 3.5em;
}
.fonte300 { 
    font-size: 3em;    
}
.fonte250 {
    font-size: 2.5em;
}
.cinza { 
    color: rgba(203,204,203,1);
}

.chamada {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9)), url(https://img.youtube.com/vi/GvbzrqD_kno/maxresdefault.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-attachment: fixed; 
    height: 100vh; 
   /* display: flex; colocamos um display aqui, para configurar o HEADER.area_chamada, fazendo ele flutuar  dentro do nosso SECTION */
    /* justify-content: center;  */
     /* align-items: center;  */
     
}
.parte_superior { 
    width: 100vw; 
    height: 90px; 
    display: flex;   
    justify-content: space-around;  
    align-items: center; 
    padding-top: 15px;
  }

.area_chamada {
    text-align: center;
    margin-top: 250px;
    
}

.titulo h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.1em; 
    font-weight: 400;
    text-shadow: 3px 3px 0px rgba(0,0,0,.8);
}
h2 {
    margin: 0px;
}
.logo_facebook {
    position: absolute; 
    top: 30px;
    right: 35px;
    display: flex;
    align-items:flex-end /*Alinhamos os texto pelo final do FLEX*/ 
}
.boas-vindas {
    font-weight: bold; /*colocamos aqui um peso para fonte do login e boa vinda*/
    font-size: 80%; /*Falamos aqui q, temos uma fonte de 80% do tamanho da original */
    margin-right: 5px; /* colocamos uma margem para afastar a letra da logo do facebook*/
    text-align: right; /*alinharemos o texto pela direita*/    
}
.logo {
    position: absolute;
    left: 14px;
    top: 10px;
}
.logo > img { 
    height: 90px;
}
                                /*  Criando uma nova SECTION CHAMADA DE MINIATURAS */

.miniaturas {
    margin-top: -100px; /*Margem NEGATIVA para subirmos nossa IMG e fazer ele ficar sobre o ELEMENTO anterior*/
}


                                 /*  Criando uma nova FOOTER CHAMADA DE RODAPE */

footer#rodape {
    border-top: 1px solid rgba(234, 238, 239, 1);
    margin-top: auto;
    font-size: 8pt;
    text-align: center;
}




